*{
    box-sizing: border-box;
}

.bigSection{
    /* border: solid 1px black; */
    padding: 10px;
    margin: auto;
    /* width: 50%; */
    background: white;
    /* margin-top: 100px; */
}

.sectionTitle{
    text-align: center;
    
}
.sectionComment{
    /* border: 1px solid bisque; */
    padding: 5px;
    align-items: center;
    text-align: center;
    width: 40%;
    margin: 15px;
    /* flex: 0 0 auto;  */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.imgAuto{
    width: 200px;
    height: 150px;
}

.carContainer{
    
 display: flex;
 overflow-x: auto;
  
}